@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Initial Setup */
* {
  font-family: 'Quicksand', serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0px auto;
}
header > div,
section > div,
footer > div {
  max-width: 1160px;
  margin: 0 auto;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
button {
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
button:hover {
  opacity: 0.7;
  transform: scale(90%);
}

/* -------------- */
/* Header Section */
/* -------------- */

/* nav styles*/
.nav {
  justify-content: space-between;
  align-items: center;
}
.brand {
  align-items: center;
  gap: 11px;
}
.brand-img img {
  width: 100%;
  cursor: pointer;
}
.brand-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.list-items {
  gap: 32px;
}
.list-item {
  list-style: none;
}
.item {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.btn-nav {
  padding: 10px 60px;
  background-color: orange;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8rem;
  border-radius: 12px;
  border: none;
}
.bars {
  display: none;
}

/* Banner Styles */
.banner {
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.banner-title,
.banner-title span {
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-description {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 24px 0px;
}
.banner-btn {
  padding: 10px 48px;
  font-size: 1.25rem;
  line-height: 1.8rem;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  background-color: black;
  color: white;
}

/* Curriculum Section */
.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 80px;
}
.cards {
  gap: 28px;
  margin-bottom: 85px;
}
.card-item {
  text-align: center;
  border-radius: 18px;
  box-shadow: 0px 0px 28px 0.9px rgba(0, 0, 0, 0.05);
}
.card-img {
  margin-top: 52px;
  width: 130px;
  height: 130px;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #202020;
  margin: 32px 0;
}
.card-details {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  margin-bottom: 32px;
}
.btn-card {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 52px;
  cursor: pointer;
}
#card-1 {
  background-image: linear-gradient(180deg, #def5ff 0%, white 40%);
}
#card-1 .btn-card {
  color: #64c8ff;
}
#card-2 {
  background-image: linear-gradient(180deg, #fff4dc 0%, white 40%);
}
#card-2 .btn-card {
  color: #f0aa00;
}
#card-3 {
  background-image: linear-gradient(180deg, #f2e8ff 0%, white 40%);
}
#card-3 .btn-card {
  color: #8700ff;
}
.pagination {
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
.pagination button {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: orange;
  color: white;
  font-weight: 500;
}

/* Stories Section */
.stories {
  background-image: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 161, 1, 0.3) 0%, #ffffff 100%);
}
.card-containers {
  justify-content: space-between;
}
.highlight-card {
  max-width: 540px;
  border-radius: 16px;
  position: relative;
  background-color: white;
}
.highlight-card img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.highlight-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 60px 40px 50px;
}
.highlight-card-details {
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
  margin: 0px 70px 40px 34px;
}
.highlight-card .card-btn {
  position: absolute;
  padding: 16px 18px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #3cd8e8;
  border: none;
  border-radius: 48px;
  top: 51%;
  left: 8%;
}
.grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
}
.grid-card .card {
  max-width: 290px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}
.grid-card .card img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.grid-card .grid-card-title {
  font-size: 1rem;
  margin: 30px;
}
.grid-card .card .card-btn {
  position: absolute;
  padding: 10px 18px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #95b226;
  border: none;
  border-radius: 48px;
  top: 54%;
  left: 8%;
}
.story-btn {
  text-align: center;
}
.story-btn button {
  padding: 10px 60px;
  color: white;
  background-color: black;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  margin-top: 80px;
  margin-bottom: 60px;
}

/* -------------- */
/* Footer Section */
/* -------------- */
footer {
  background-color: #01acfd;
  padding: 120px 0px;
}
.footer {
  justify-content: space-between;
}

.footer-brand {
  gap: 10px;
  align-items: center;
  max-width: 300px;
}
.footer-brand-img img {
  width: 100%;
}
.footer-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: white;
}
.footer-description {
  font-size: 1.25rem;
  color: white;
  max-width: 400px;
  margin-left: 10px;
  margin-top: 35px;
}
.footer-nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}
.footer-nav-item {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
.footer-social-title {
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Use Marquee */
marquee {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #01acfd;
  font-weight: 700;
  color: white;
  text-align: center;
}
/* ----------------- */
/* Responsive Design */
/* ----------------- */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  .nav {
    border-bottom: 0.5px solid orange;
    padding: 0px 16px 12px;
  }
  .brand {
    justify-content: space-between;
    width: 100%;
  }
  .brand-title,
  .list-items,
  .btn-nav,
  .pagination button,
  .highlight-card {
    display: none;
  }
  .bars {
    display: block;
    max-width: 30px;
  }
  .bars img {
    width: 100%;
  }

  /* banner section */
  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    margin: 20px 10px;
  }
  .banner-img img {
    width: 95%;
  }
  .banner-title,
  .banner-title span {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
    font-weight: 500;
  }
  .banner-btn {
    padding: 6px 24px;
    font-size: 1rem;
  }

  /* Curriculum section */
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .cards {
    flex-direction: column;
    margin: 0 16px;
  }

  /* Stories Section */
  .card-containers {
    justify-content: center;
  }
  .grid-card {
    margin-left: 16px;
    margin-right: 16px;
  }
  .grid-card .card .card-btn {
    padding: 6px 12px;
    font-size: 0.6rem;
    top: 51%;
    left: 8%;
  }
  .grid-card .grid-card-title {
    font-size: 0.6rem;
    margin: 20px;
  }
  .story-btn button {
    padding: 8px 38px;
    font-size: 1rem;
    margin: 40px 0px;
  }
  .section-title {
    margin: 40px 0px;
  }

  /* footer section */
  .footer {
    flex-direction: column;
    margin: 0 16px;
    gap: 32px;
  }
  .footer-nav,
  .footer-social {
    margin: 0 16px;
  }
}

/* Meduim Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .highlight-card,
  .btn-nav {
    display: none;
  }
  .nav,
  .banner,
  .cards,
  .grid-card,
  .footer {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .card-containers {
    justify-content: center;
  }
}
